<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact-Us</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
	<div class="container">
        <header id="header">
            <div class="row">
                <div class="col-md-4 col-sm-3 col-xs-5">
                    <div class="logo">
                        <a href="index.html" title=""><img src="assets/images/logo.png"></a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-9 col-xs-7 ">   
                    <div class="main-item">
                        <div class="item hidden-xs">
                             <!-- hidden-xs ẩn đối với màn hình đt -->
                            <div class="icon">
                                <img src="assets/images/oto.png" alt="">
                            </div>
                            <div class="sub-freeship">
                                <h4>FREE SHIPPING</h4>
                                <p>Free shipping on call order</p>
                            </div>
                        </div>
                        <div class="item hidden-xs">
                            <div class="icon">
                                <img src="assets/images/call.png" alt="">
                            </div>
                            <div class="sub-freeship">
                                <h4>HOTLINE</h4>
                                <p>+65 6876 0079</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="icon">
                                <img src="assets/images/enqury.png" alt="">
                            </div>
                            <div class="sub-freeship">
                                <a href="enquiry.html" title=""><h4>Enquiry Cart</h4></a>
                                <p>(0)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="home">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="menu-bars"><i class="fas fa-bars"></i></button>
                    <ul class="sub-home ">
                        <li >
                            <a href="index.html" title="">Home</a>
                        </li>
                        <li>
                            <a href="About-Us.html" title=""> About Us</a>
                        </li>
                        <li >
                            <a href="Project.html" title="">Projects</a>
                        </li>
                        <li>
                            <a href="Product.html" title="">our products</a> <i class="fas fa-angle-down"></i></li>
                        <li>
                            <a href="testimonial.html" title="">testimonial</a></li>
                        <li class="color-home">
                            <a href="contact.html" title="">Contact Us</a></li>
                    </ul>    
                </div>
                <div class="col-md-4">
                    <div class="search">
                        <form>
                            <input type="text" placeholder="Search" name="Search">
                            <button type="submit"><i class="fas fa-search"></i> </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="icon-contact">
                        <div class="icon-about">
                        <div class="icon-home">
                            <a href="#" title="">
                                <i class="fas fa-home"></i>
                            </a>                     
                        </div>                        
                        <div class="about-us">
                            <i class="fas fa-chevron-right"></i>
                            <a href="#" title="">Contact Us</a>            
                        </div>                       
                    </div>
                    <div class="clearfix">
                    </div>                        
                    </div>
                    <div class="get-in">
                        <h3>Get in touch with us</h3>
                        <div class="get-icon">
                            <div class="sub-get">
                                <i class="fas fa-map-marker-alt"></i>
                                <p>96C Jalan Senang Singapore 418483.</p>
                            </div>
                            <div class="sub-get">
                                <i class="fas fa-phone"></i>
                                <p>+65 6876 0079</p>
                            </div>
                            <div class="sub-get">
                                <i class="fas fa-envelope"></i>
                                <p>sales@impressgift.com.sg</p>
                            </div>
                        </div>                        
                    </div>
                    <div class="name">
                         <div class="sub-name">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="first-name">
                                        <form>
                                            <p>First name:</p>
                                            <input type="text" placeholder="" name="name"> 
                                         </form> 
                                     </div>
                                     <div class="first-name">
                                        <form>
                                            <p>Email:</p>
                                            <input type="text" placeholder="" name="name"> 
                                         </form> 
                                     </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="first-name">
                                        <form>
                                            <p>Last name:</p>
                                            <input type="text" placeholder="" name="name"> 
                                         </form> 
                                     </div>
                                     <div class="first-name">
                                        <form>
                                            <p>Phone:</p>
                                            <input type="text" placeholder="" name="name"> 
                                         </form> 
                                     </div>
                                </div>               
                            </div>                   
                         </div>
                         <div class="request"> 
                            <div class="first-name">
                                <form>
                                    <p>Request Detail</p>
                                    <input type="text" placeholder="" name="name"> 
                                </form> 
                            </div>
                         </div>
                         <div class="submit-request">
                            <a href="#" title=""><button type="submit">submit request       
                            </button></a>              
                         </div>                     
                    </div>                        
                </div>  
                <div class="col-md-6">
                    <div class="address-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.7035082282077!2d105.83940911450426!3d21.00451888601149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac776f8228e7%3A0x5ad722aa442072ab!2zMTcgR2nhuqNpIFBow7NuZw!5e0!3m2!1svi!2s!4v1533116873933" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>                    
                </div>                   
            </div>                              
         </div>            
    </div>    
    <div class="impress">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="logo-2">
                        <a href="index.html" title=""><img src="assets/images/logo.png"></a>
                    </div>                 
                </div> 
                <div class="col-md-4">
                    <div class="impressgift">
                        <h4>IMPRESSGIFT</h4>
                        <div class="footer-redline">
                            <img src="assets/images/footer-redline.png" alt="">
                        </div>
                        <div class="sub-impressgift">
                            <div class="sub-icon">
                                <img src="assets/images/address.png" alt="">    
                            </div>
                            <div class="sub-form">
                                <p>96C JALAN SENANG SINGAPORE 418483</p>  
                            </div>
                        </div>
                        <div class="sub-impressgift">
                            <div class="sub-icon">
                                <img src="assets/images/phone-icon.png" alt="">    
                            </div>
                            <div class="sub-form">
                                <p>+65 6876 0079</p>
                            </div>
                        </div> 
                        <div class="sub-impressgift">
                            <div class="sub-icon">
                                <img src="assets/images/gmail-icon.png" alt="">    
                            </div>
                            <div class="sub-form">
                                <p>SALES@IMPRESSGIFT.COM.SG</p>          
                            </div>
                        </div> 
                        <div class="sub-impressgift">
                            <div class="sub-icon">
                                <img src="assets/images/time-icon.png" alt="">    
                            </div>
                            <div class="sub-form">
                                <p class="hour">HOUR OPENNING:</p>
                                <p class="mon">Mon-sun: 8:00am - 10:00pm</p>       
                            </div>
                        </div>                         
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="quick-link">
                        <h4>QUICK LINK</h4>
                        <div class="footer-redline">
                            <img src="assets/images/footer-redline.png" alt="">
                        </div>
                        <ul class="sub-link">
                            <li>
                                <a href="index.html" title="">Home</a>
                            </li>
                            <li>
                                <a href="About-Us.html" title=""> About Us</a>
                            </li>
                            <li>
                                <a href="Project.html" title="">Projects</a>
                            </li>
                            <li>
                                <a href="Product.html" title="">our products</a>
                            </li>
                            <li>
                                <a href="testimonial.html" title="">testimonial</a></li>
                            <li>
                                <a href="contact.html" title="">Contact Us</a></li>
                        </ul>
                    </div>                    
                </div> 
                <div class="col-md-4">
                    <div class="sign">
                        <h4>SIGNUP FOR OUR NEWSLETTER
                        </h4>
                        <div class="footer-redline">
                            <img src="assets/images/footer-redline.png" alt="">
                        </div>
                        <div class="recetive">
                            <p>RECEIVE OUR LATEST UPDATES ABOUT OUR PRODUCTS AND PROMOTIONS</p>               
                        </div>
                        <div class="mail">
                            <form>
                                <input type="text" placeholder="Enter your email address" name="Search">
                                <button type="submit">subscribe</button>
                             </form>
                        </div>
                        <div class="clearfix">                            
                        </div>
                        <div class="stay">
                            <h4>STAY CONNECT</h4>        
                        </div>
                        <div class="sign-icon">
                            <a href="#" title="">
                                <img src="assets/images/icon-facebook.png" alt="">
                            </a>                         
                        </div>
                        <div class="sign-icon">
                            <a href="#" title="">
                                <img src="assets/images/icon-gmail.png" alt="">
                            </a>                         
                        </div>
                        <div class="sign-icon">
                            <a href="#" title="">
                                <img src="assets/images/icon-insta.png" alt="">
                            </a>                         
                        </div>
                        <div class="sign-icon">
                            <a href="#" title="">
                                <img src="assets/images/icon-youtube.png" alt="">
                            </a>                         
                        </div>
                    </div>                         
                </div>            
            </div>        
         </div>
     </div>
    <div class="copyright">
            <p>Copyright © 2018 Impressgift. All Right Reserved.</p>        
    </div> 
	<script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <script src="assets/js/app.js"></script>
</body>
</html>