<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enquiry</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
	<div class="container">
        <header id="header">
            <div class="row">
                <div class="col-md-4 col-sm-3 col-xs-5">
                    <div class="logo">
                        <a href="index.html" title=""><img src="assets/images/logo.png"></a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-9 col-xs-7 ">   
                    <div class="main-item">
                        <div class="item hidden-xs">
                             <!-- hidden-xs ẩn đối với màn hình đt -->
                            <div class="icon">
                                <img src="assets/images/oto.png" alt="">
                            </div>
                            <div class="sub-freeship">
                                <h4>FREE SHIPPING</h4>
                                <p>Free shipping on call order</p>
                            </div>
                        </div>
                        <div class="item hidden-xs">
                            <div class="icon">
                                <img src="assets/images/call.png" alt="">
                            </div>
                            <div class="sub-freeship">
                                <h4>HOTLINE</h4>
                                <p>+65 6876 0079</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="icon">
                                <img src="assets/images/enqury.png" alt="">
                            </div>
                            <div class="sub-freeship">
                                <a href="enquiry.html" title=""><h4>Enquiry Cart</h4></a>
                                <p>(0)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="home">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="menu-bars"><i class="fas fa-bars"></i></button>
                    <ul class="sub-home ">
                        <li>
                            <a href="index.html" title="">Home</a>
                        </li>
                        <li>
                            <a href="About-Us.html" title=""> About Us</a>
                        </li>
                        <li>
                            <a href="Project.html" title="">Projects</a>
                        </li>
                        <li>
                            <a href="Product.html" title="">our products</a> <i class="fas fa-angle-down"></i></li>
                        <li>
                            <a href="testimonial.html" title="">testimonial</a></li>
                        <li>
                            <a href="contact.html" title="">Contact Us</a></li>
                    </ul>    
                </div>
                <div class="col-md-4">
                    <div class="search">
                        <form>
                            <input type="text" placeholder="Search" name="Search">
                            <button type="submit"><i class="fas fa-search"></i> </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="enquiry">
        <div class="container">
        	<div class="icon-requiry">
        		<div class="icon-about">
                    <div class="icon-home">
                        <a href="#" title="">
                           <i class="fas fa-home"></i>
                         </a>                     
                     </div>                        
                    <div class="about-us">
                    	<i class="fas fa-chevron-right"></i>        
                         <a href="#" title="">Enquiry</a> 
                     </div>                       
                </div> 
                <div class="clearfix">
                </div>       		
        	</div>
        	<div class="bill">
        		<table width="100%">
        			<tr class="text">
        				<td class="stt"></td>
        				<td class="sub-text-1"><p>product</p></td>
        				<td class="sub-text"><p>quantity</p></td>
        				<td class="sub-text"><p>unit price</p></td>
        				<td class="sub-text">total</td>
        			</tr>
        			<tr class="sub-bill">
        				<td >
        					<div class="icon-bill">
        						<i class="fas fa-times"></i>
        					</div>
        				</td>
        				<td>
        					<div class="picture-bill">
        						<img src="assets/images/enquiry-1.png" alt="">	
        					</div>
        					<div class="text-bill">
        						<p>Lorem ipsum dolor sit amet</p>				
        					</div>
        				</td>
        				<td class="quantity">
        					<span><p>200</p></span>
        				</td>
        				<td class="money"><p>$155.00</p></td>
        				<td class="money"><p>$155.00</p></td>
        			</tr>
        			<tr class="sub-bill">
        				<td >
        					<div class="icon-bill">
        						<i class="fas fa-times"></i>
        					</div>
        				</td>
        				<td>
        					<div class="picture-bill">
        						<img src="assets/images/enquiry-2.png" alt="">	
        					</div>
        					<div class="text-bill">
        						<p>Lorem ipsum dolor sit amet</p>				
        					</div>
        				</td>
        				<td class="quantity">
        					<span><p>200</p></span>
        				</td>
        				<td class="money"><p>$155.00</p></td>
        				<td class="money"><p>$155.00</p></td>
        			</tr>
        			<tr class="sub-bill">
        				<td >
        					<div class="icon-bill">
        						<i class="fas fa-times"></i>
        					</div>
        				</td>
        				<td>
        					<div class="picture-bill">
        						<img src="assets/images/enquiry-3.png" alt="">	
        					</div>
        					<div class="text-bill-1">
        						<p>Lorem ipsum dolor sit amet</p>				
        					</div>
        				</td>
        				<td class="quantity">
        					<span><p>200</p></span>
        				</td>
        				<td class="money"><p>$155.00</p></td>
        				<td class="money"><p>$155.00</p></td>
        			</tr>
        			<tr class="sub-total">
        				<td colspan="3" rowspan="2" class="delete"></td>
        				<td class="text-total"><p>Sub-Total:</p></td>
        				<td class="total-color">$35.00</td>
        			</tr>
        			<tr class="total">
        				<td class="text-total"><p>Total:</p></td>
        				<td class="total-color">$35.00</td>
        			</tr>

        		</table>     		
        	</div>                                       
         </div>            
    </div>
    <div class="product-enquiry">
    	<div class="text-enquiry">
    		<h4>Product Enquiry</h4> 
    	</div>
    	<div class="container">
    		<div class="row">
    			<div class="col-md-2">    				
    			</div>
    			<div class="col-md-8">
    				<div class="send-enquiry-1">
                        <div class="row">
                             <div class="col-md-6">
                                    <div class="send">
                                        <form>            
                                            <input type="text" placeholder="First name:" name="name"> 
                                         </form> 
                                     </div>
                                     <div class="send">
                                        <form>       
                                            <input type="text" placeholder="Email:" name="name"> 
                                         </form> 
                                     </div>
                             </div>
                             <div class="col-md-6">
                                    <div class="send">
                                        <form>     
                                            <input type="text" placeholder="Last name:" name="name"> 
                                         </form> 
                                     </div>
                                     <div class="send">
                                        <form>
                                            <input type="text" placeholder="Phone:" name="name"> 
                                         </form> 
                                     </div>
                             </div>               
                        </div>                   
                    </div>
                    <div class="send-enquiry-2"> 
                    <div class="send">
                        <form>             
                            <input type="text" placeholder="Request Detail:" name="name"> 
                        </form> 
                    </div>
                    </div>
                         <div class="send-enquiry-3">
                            <button type="submit">send enquriry       
                            </button>                
                         </div>      
    			</div>
    			<div class="col-md-2">    				
    			</div>    			
    		</div>   	      		
    	</div>      	
    </div>        
    <div class="impress">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="logo-2">
                        <a href="index.html" title=""><img src="assets/images/logo.png"></a>
                    </div>                 
                </div> 
                <div class="col-md-4">
                    <div class="impressgift">
                        <h4>IMPRESSGIFT</h4>
                        <div class="footer-redline">
                            <img src="assets/images/footer-redline.png" alt="">
                        </div>
                        <div class="sub-impressgift">
                            <div class="sub-icon">
                                <img src="assets/images/address.png" alt="">    
                            </div>
                            <div class="sub-form">
                                <p>96C JALAN SENANG SINGAPORE 418483</p>  
                            </div>
                        </div>
                        <div class="sub-impressgift">
                            <div class="sub-icon">
                                <img src="assets/images/phone-icon.png" alt="">    
                            </div>
                            <div class="sub-form">
                                <p>+65 6876 0079</p>
                            </div>
                        </div> 
                        <div class="sub-impressgift">
                            <div class="sub-icon">
                                <img src="assets/images/gmail-icon.png" alt="">    
                            </div>
                            <div class="sub-form">
                                <p>SALES@IMPRESSGIFT.COM.SG</p>          
                            </div>
                        </div> 
                        <div class="sub-impressgift">
                            <div class="sub-icon">
                                <img src="assets/images/time-icon.png" alt="">    
                            </div>
                            <div class="sub-form">
                                <p class="hour">HOUR OPENNING:</p>
                                <p class="mon">Mon-sun: 8:00am - 10:00pm</p>          
                            </div>
                        </div>                         
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="quick-link">
                        <h4>QUICK LINK</h4>
                        <div class="footer-redline">
                            <img src="assets/images/footer-redline.png" alt="">
                        </div>
                        <ul class="sub-link">
                            <li>
                                <a href="index.html" title="">Home</a>
                            </li>
                            <li>
                                <a href="About-Us.html" title=""> About Us</a>
                            </li>
                            <li>
                                <a href="Project.html" title="">Projects</a>
                            </li>
                            <li>
                                <a href="Product.html" title="">our products</a>
                            </li>
                            <li>
                                <a href="testimonial.html" title="">testimonial</a></li>
                            <li>
                                <a href="contact.html" title="">Contact Us</a></li>
                        </ul>
                    </div>                    
                </div> 
                <div class="col-md-4">
                    <div class="sign">
                        <h4>SIGNUP FOR OUR NEWSLETTER
                        </h4>
                        <div class="footer-redline">
                            <img src="assets/images/footer-redline.png" alt="">
                        </div>
                        <div class="recetive">
                            <p>RECEIVE OUR LATEST UPDATES ABOUT OUR PRODUCTS AND PROMOTIONS</p>               
                        </div>
                        <div class="mail">
                            <form>
                                <input type="text" placeholder="Enter your email address" name="Search">
                                <button type="submit">subscribe</button>
                             </form>
                        </div>
                        <div class="clearfix">                            
                        </div>
                        <div class="stay">
                            <h4>STAY CONNECT</h4>        
                        </div>
                        <div class="sign-icon">
                            <a href="#" title="">
                                <img src="assets/images/icon-facebook.png" alt="">
                            </a>                         
                        </div>
                        <div class="sign-icon">
                            <a href="#" title="">
                                <img src="assets/images/icon-gmail.png" alt="">
                            </a>                         
                        </div>
                        <div class="sign-icon">
                            <a href="#" title="">
                                <img src="assets/images/icon-insta.png" alt="">
                            </a>                         
                        </div>
                        <div class="sign-icon">
                            <a href="#" title="">
                                <img src="assets/images/icon-youtube.png" alt="">
                            </a>                         
                        </div>
                    </div>                         
                </div>            
            </div>        
         </div>
     </div>
    <div class="copyright">
            <p>Copyright © 2018 Impressgift. All Right Reserved.</p>        
    </div> 
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <script src="assets/js/app.js"></script>
	
</body>
</html>